header {
margin:40px ;
background-color: #5350F2;
border: solid 3px rgb(rgb(41, 247, 0), rgb(222, 238, 0), blue);
padding:25px; 
}


body {
background-color: rgb(66, 92, 141);
color: black;
}

section {
background-color: brown;
margin:40px ;
display: flex;
}
