<header> {
margin:40px ;
background-color: black;
padding: 15px;
border: 5px;
justify-content: flex-end;
}


body {
background-color: rgb(66, 92, 141);
color: black;
}

section {
background-color: brown;
margin:40px ;
display: flex;
}
